In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('shoe_shop.csv', sep = '\t')
df.head()

,InvoiceNo,Date,Country,ProductID,Shop,Gender,Size (US),Size (Europe),Size (UK),UnitPrice,Discount,SalePrice
0,52389,01.01.2014,United Kingdom,2152,UK2,Male,11.0,44,10.5,$159.00,0%,$159.00
1,52390,01.01.2014,United States,2230,US15,Male,11.5,44-45,11.0,$199.00,20%,$159.20
2,52391,01.01.2014,Canada,2160,CAN7,Male,9.5,42-43,9.0,$149.00,20%,$119.20
3,52392,01.01.2014,United States,2234,US6,Female,9.5,40,7.5,$159.00,0%,$159.00
4,52393,01.01.2014,United Kingdom,2222,UK4,Female,9.0,39-40,7.0,$159.00,0%,$159.00

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14967 entries, 0 to 14966
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   InvoiceNo      14967 non-null  int64
 1   Date           14967 non-null  object
 2   Country        14967 non-null  object
 3   ProductID      14967 non-null  int64
 4   Shop           14967 non-null  object
 5   Gender         14967 non-null  object
 6   Size (US)      14967 non-null  float64
 7   Size (Europe)  14967 non-null  object
 8   Size (UK)      14967 non-null  float64
 9   UnitPrice      14967 non-null  object
 10  Discount       14967 non-null  object
 11  SalePrice      14967 non-null  object
dtypes: float64(2), int64(2), object(8)
memory usage: 1.4+ MB

In [4]:
date_column_dtype = df['Date'].dtype
date_column_dtype

dtype('O')

In [5]:
df['Date'] = pd.to_datetime(df['Date'], format='%d.%m.%Y')

df['UnitPrice'] = df['UnitPrice'].str.replace('$', '')
df['UnitPrice'] = pd.to_numeric(df['UnitPrice'], errors='coerce')

df['Discount'] = df['Discount'].str.replace('%', '')
df['Discount'] = pd.to_numeric(df['Discount'], errors='coerce')

df['SalePrice'] = df['SalePrice'].str.replace('$', '')
df['SalePrice'] = pd.to_numeric(df['SalePrice'], errors='coerce')

df.head()

,InvoiceNo,Date,Country,ProductID,Shop,Gender,Size (US),Size (Europe),Size (UK),UnitPrice,Discount,SalePrice
0,52389,2014-01-01,United Kingdom,2152,UK2,Male,11.0,44,10.5,159.0,0,159.0
1,52390,2014-01-01,United States,2230,US15,Male,11.5,44-45,11.0,199.0,20,159.2
2,52391,2014-01-01,Canada,2160,CAN7,Male,9.5,42-43,9.0,149.0,20,119.2
3,52392,2014-01-01,United States,2234,US6,Female,9.5,40,7.5,159.0,0,159.0
4,52393,2014-01-01,United Kingdom,2222,UK4,Female,9.0,39-40,7.0,159.0,0,159.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14967 entries, 0 to 14966
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   InvoiceNo      14967 non-null  int64
 1   Date           14967 non-null  datetime64[ns]
 2   Country        14967 non-null  object
 3   ProductID      14967 non-null  int64
 4   Shop           14967 non-null  object
 5   Gender         14967 non-null  object
 6   Size (US)      14967 non-null  float64
 7   Size (Europe)  14967 non-null  object
 8   Size (UK)      14967 non-null  float64
 9   UnitPrice      14967 non-null  float64
 10  Discount       14967 non-null  int64
 11  SalePrice      14967 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(4)
memory usage: 1.4+ MB

##Task 1: Calculate the confidence intervals for men shoes sales in the USA, this time based on a bigger sample - 2015-2016.

In [7]:
start_date_15 = '2015-01-01'
end_date_15 = '2015-12-31'

start_date_formatted_15 = pd.to_datetime(start_date_15)
end_date_formatted_15 = pd.to_datetime(end_date_15)

gender_mask = df['Gender'] == 'Male'
date_mask_15 = (df['Date'] >= start_date_formatted_15) & (df['Date'] <= end_date_formatted_15)

combined_mask_15 = gender_mask & date_mask_15
men_shoes_sales_15 = df.loc[combined_mask_15]

men_shoes_sales_15

,InvoiceNo,Date,Country,ProductID,Shop,Gender,Size (US),Size (Europe),Size (UK),UnitPrice,Discount,SalePrice
2753,54725,2015-01-01,United States,2187,US7,Male,9.5,42-43,9.0,179.0,0,179.0
2754,54726,2015-01-01,United States,2174,US3,Male,8.5,41-42,8.0,169.0,0,169.0
2755,54727,2015-01-01,United States,2240,US11,Male,9.0,42,8.5,129.0,10,116.1
2756,54728,2015-01-01,Germany,2220,GER2,Male,10.0,43,9.5,129.0,0,129.0
2757,54729,2015-01-01,United Kingdom,2199,UK5,Male,9.5,42-43,9.0,139.0,0,139.0
...,...,...,...,...,...,...,...,...,...,...,...,...
7590,59186,2015-12-30,Germany,2236,GER2,Male,9.5,42-43,9.0,129.0,20,103.2
7592,59188,2015-12-31,Canada,2176,CAN5,Male,9.5,42-43,9.0,189.0,10,170.1
7593,59189,2015-12-31,United States,2226,US15,Male,11.5,44-45,11.0,179.0,0,179.0
7594,59190,2015-12-31,United States,2213,US13,Male,10.5,43-44,10.0,149.0,30,104.3
7597,59193,2015-12-31,United States,2148,US14,Male,8.0,41,7.5,139.0,0,139.0

In [8]:
start_date_16 = '2016-01-01'
end_date_16 = '2016-12-31'

start_date_formatted_16 = pd.to_datetime(start_date_16)
end_date_formatted_16 = pd.to_datetime(end_date_16)

gender_mask = df['Gender'] == 'Male'
date_mask_16 = (df['Date'] >= start_date_formatted_16) & (df['Date'] <= end_date_formatted_16)

combined_mask_16 = gender_mask & date_mask_16
men_shoes_sales_16 = df.loc[combined_mask_16]

men_shoes_sales_16

,InvoiceNo,Date,Country,ProductID,Shop,Gender,Size (US),Size (Europe),Size (UK),UnitPrice,Discount,SalePrice
7601,59197,2016-01-01,Germany,2204,GER1,Male,10.5,43-44,10.0,169.0,0,169.0
7602,59198,2016-01-01,Germany,2158,GER3,Male,9.0,42,8.5,149.0,10,134.1
7605,59201,2016-01-01,Germany,2154,GER3,Male,9.0,42,8.5,189.0,10,170.1
7608,59204,2016-01-02,Canada,2156,CAN6,Male,10.0,43,9.5,159.0,0,159.0
7609,59205,2016-01-02,Germany,2210,GER1,Male,11.0,44,10.5,199.0,0,199.0
...,...,...,...,...,...,...,...,...,...,...,...,...
14958,65769,2016-12-31,Germany,2210,GER2,Male,10.5,43-44,10.0,179.0,50,89.5
14960,65771,2016-12-31,United States,2209,US15,Male,9.0,42,8.5,189.0,0,189.0
14961,65772,2016-12-31,United States,2168,US13,Male,8.0,41,7.5,129.0,0,129.0
14962,65773,2016-12-31,United Kingdom,2154,UK2,Male,9.5,42-43,9.0,139.0,0,139.0
14964,65775,2016-12-31,Canada,2203,CAN6,Male,10.5,43-44,10.0,179.0,30,125.3

In [9]:
pivot_table_15 = men_shoes_sales_15.pivot_table(index='Size (US)', columns= men_shoes_sales_15['Date'].dt.month, aggfunc='size', fill_value=0)

In [10]:
pivot_table_16 = men_shoes_sales_16.pivot_table(index='Size (US)', columns= men_shoes_sales_16['Date'].dt.month, aggfunc='size', fill_value=0)

In [11]:
pivot_table_15.reset_index(drop=True, inplace=True)

In [12]:
pivot_table_15['Mean'] = [round((np.sum(pivot_table_15.iloc[i,:])/len(pivot_table_15)),2) for i in range(len(pivot_table_15))]

In [13]:
pivot_table_15['Variance'] = [round((np.sum((pivot_table_15.iloc[i, :] - pivot_table_15['Mean'][i])**2)/11),2) for i in range(len(pivot_table_15))]

In [14]:
pivot_table_15['std'] = [round((pow((x),1/2)),2) for x in pivot_table_15['Variance']]

In [15]:
pivot_table_15['Standard error'] = [round((x/pow((len(pivot_table_15)),1/2)),2) for x in pivot_table_15['std']]

In [16]:
df_z_table = pd.read_csv('z_table.csv', sep = '\t')

In [17]:
df_z_table

,z,0,0.01,0.02,0.03,0.04,0.05,0.06,0.07,0.08,0.09
0,0.0,0.5000,0.5040,0.5080,0.5120,0.5160,0.5199,0.5239,0.5279,0.5319,0.5359
1,0.1,0.5398,0.5438,0.5478,0.5517,0.5557,0.5596,0.5636,0.5675,0.5714,0.5753
2,0.2,0.5793,0.5832,0.5871,0.5910,0.5948,0.5987,0.6026,0.6064,0.6103,0.6141
3,0.3,0.6179,0.6217,0.6255,0.6293,0.6331,0.6368,0.6406,0.6443,0.6480,0.6517
4,0.4,0.6554,0.6591,0.6628,0.6664,0.6700,0.6736,0.6772,0.6808,0.6844,0.6879
5,0.5,0.6915,0.6950,0.6985,0.7019,0.7054,0.7088,0.7123,0.7157,0.7190,0.7224
6,0.6,0.7257,0.7291,0.7324,0.7357,0.7389,0.7422,0.7454,0.7486,0.7517,0.7549
7,0.7,0.7580,0.7611,0.7642,0.7673,0.7704,0.7734,0.7764,0.7794,0.7823,0.7852
8,0.8,0.7881,0.7910,0.7939,0.7967,0.7995,0.8023,0.8051,0.8078,0.8106,0.8133
9,0.9,0.8159,0.8186,0.8212,0.8238,0.8264,0.8289,0.8315,0.8340,0.8365,0.8389
10,1.0,0.8413,0.8438,0.8461,0.8485,0.8508,0.8531,0.8554,0.8577,0.8599,0.8621
11,1.1,0.8643,0.8665,0.8686,0.8708,0.8729,0.8749,0.8770,0.8790,0.8810,0.8830
12,1.2,0.8849,0.8869,0.8888,0.8907,0.8925,0.8944,0.8962,0.8980,0.8997,0.9015
13,1.3,0.9032,0.9049,0.9066,0.9082,0.9099,0.9115,0.9131,0.9147,0.9162,0.9177
14,1.4,0.9192,0.9207,0.9222,0.9236,0.9251,0.9265,0.9279,0.9292,0.9306,0.9319
15,1.5,0.9332,0.9345,0.9357,0.9370,0.9382,0.9394,0.9406,0.9418,0.9429,0.9441
16,1.6,0.9452,0.9463,0.9474,0.9484,0.9495,0.9505,0.9515,0.9525,0.9535,0.9545
17,1.7,0.9554,0.9564,0.9573,0.9582,0.9591,0.9599,0.9608,0.9616,0.9625,0.9633
18,1.8,0.9641,0.9649,0.9656,0.9664,0.9671,0.9678,0.9686,0.9693,0.9699,0.9706
19,1.9,0.9713,0.9719,0.9726,0.9732,0.9738,0.9744,0.9750,0.9756,0.9761,0.9767
20,2.0,0.9772,0.9778,0.9783,0.9788,0.9793,0.9798,0.9803,0.9808,0.9812,0.9817
21,2.1,0.9821,0.9826,0.9830,0.9834,0.9838,0.9842,0.9846,0.9850,0.9854,0.9857
22,2.2,0.9861,0.9864,0.9868,0.9871,0.9875,0.9878,0.9881,0.9884,0.9887,0.9890
23,2.3,0.9893,0.9896,0.9898,0.9901,0.9904,0.9906,0.9909,0.9911,0.9913,0.9916
24,2.4,0.9918,0.9920,0.9922,0.9925,0.9927,0.9929,0.9931,0.9932,0.9934,0.9936
25,2.5,0.9938,0.9940,0.9941,0.9943,0.9945,0.9946,0.9948,0.9949,0.9951,0.9952
26,2.6,0.9953,0.9955,0.9956,0.9957,0.9959,0.9960,0.9961,0.9962,0.9963,0.9964
27,2.7,0.9965,0.9966,0.9967,0.9968,0.9969,0.9970,0.9971,0.9972,0.9973,0.9974
28,2.8,0.9974,0.9975,0.9976,0.9977,0.9977,0.9978,0.9979,0.9979,0.9980,0.9981
29,2.9,0.9981,0.9982,0.9982,0.9983,0.9984,0.9984,0.9985,0.9985,0.9986,0.9986
30,3.0,0.9987,0.9987,0.9987,0.9988,0.9988,0.9989,0.9989,0.9989,0.9990,0.9990

In [18]:
def z_statistic(confidence_percent, table):
    alpha_half = (100 - confidence_percent) / 200  # Adjusted alpha value
    z_value = 1 - alpha_half
    indices, columns = np.where(np.isclose(table.values, z_value, atol=0.001))

    if len(indices) > 0:
        return round((table['z'][indices[0]] + float(table.columns[columns[0]])),2)
    else:
        print('z_statistic not calculated')
        return None

In [19]:
z_statistic(95, df_z_table)

1.95

In [20]:
pivot_table_15['Margin of error'] = [round((x * z_statistic(95, df_z_table)),2) for x in pivot_table_15['Standard error']]

In [21]:
pivot_table_15['95% Confidence level lower'] = [pivot_table_15['Mean'][i] - pivot_table_15['Margin of error'][i] for i in range(len(pivot_table_15))]
pivot_table_15['95% Confidence level upper'] = [pivot_table_15['Mean'][i] + pivot_table_15['Margin of error'][i] for i in range(len(pivot_table_15))]

In [22]:
pivot_table_15.insert(loc=0, column = 'Size (US)', value = np.sort(men_shoes_sales_15['Size (US)'].unique()))

In [23]:
pivot_table_15 = pivot_table_15.reset_index(drop=True)
pivot_table_15

Date,Size (US),1,2,3,4,5,6,7,8,9,10,11,12,Mean,Variance,std,Standard error,Margin of error,95% Confidence level lower,95% Confidence level upper
0,6.0,1,1,0,0,5,3,1,4,7,9,2,3,2.25,8.61,2.93,0.73,1.42,0.83,3.67
1,6.5,6,4,2,3,0,1,5,5,1,5,4,3,2.44,4.37,2.09,0.52,1.01,1.43,3.45
2,7.0,0,0,2,1,1,5,2,1,5,5,4,6,2.00,5.27,2.30,0.57,1.11,0.89,3.11
3,7.5,2,2,2,1,1,6,5,2,9,7,6,5,3.00,8.18,2.86,0.71,1.38,1.62,4.38
4,8.0,9,13,8,6,9,8,9,3,10,11,9,9,6.50,11.18,3.34,0.83,1.62,4.88,8.12
5,8.5,14,11,12,15,14,26,17,32,20,22,16,14,13.31,60.26,7.76,1.94,3.78,9.53,17.09
6,9.0,26,26,24,35,35,51,52,44,40,52,26,42,28.31,211.96,14.56,3.64,7.10,21.21,35.41
7,9.5,53,41,42,43,58,61,44,66,57,52,67,76,41.25,333.34,18.26,4.57,8.91,32.34,50.16
8,10.0,36,30,28,25,23,37,40,38,39,36,42,43,26.06,126.59,11.25,2.81,5.48,20.58,31.54
9,10.5,19,25,31,34,38,34,54,34,43,32,36,37,26.06,157.13,12.54,3.13,6.10,19.96,32.16
10,11.0,9,13,15,18,17,12,14,14,19,17,11,14,10.81,23.00,4.80,1.20,2.34,8.47,13.15
11,11.5,8,6,11,7,12,19,10,11,8,14,13,15,8.38,22.44,4.74,1.19,2.32,6.06,10.70
12,12.0,6,7,3,6,5,9,5,8,12,7,8,6,5.12,8.44,2.91,0.73,1.42,3.70,6.54
13,13.0,1,0,2,1,3,6,2,2,0,3,4,3,1.69,3.27,1.81,0.45,0.88,0.81,2.57
14,14.0,1,2,4,3,2,0,3,7,1,4,4,4,2.19,4.11,2.03,0.51,0.99,1.20,3.18
15,15.0,1,1,0,2,3,1,3,6,4,1,7,4,2.06,5.27,2.30,0.57,1.11,0.95,3.17

##Women shoe sales from GER1 and GER2 shops

In [24]:
gender_mask = df['Gender'] == 'Female'
shop_mask_1 = df['Shop'] == 'GER1'
shop_mask_2 = df['Shop'] == 'GER2'

combined_mask_1 = gender_mask & shop_mask_1
women_shoes_sales_1 = df.loc[combined_mask_1]

combined_mask_2 = gender_mask & shop_mask_2
women_shoes_sales_2 = df.loc[combined_mask_2]

In [25]:
women_shoes_sales_1

,InvoiceNo,Date,Country,ProductID,Shop,Gender,Size (US),Size (Europe),Size (UK),UnitPrice,Discount,SalePrice
15,52401,2014-01-03,Germany,2197,GER1,Female,8.5,39,6.5,179.0,20,143.2
49,52429,2014-01-07,Germany,2239,GER1,Female,9.5,40,7.5,159.0,50,79.5
180,52535,2014-01-25,Germany,2197,GER1,Female,8.5,39,6.5,179.0,20,143.2
192,52546,2014-01-26,Germany,2227,GER1,Female,9.0,39-40,7.0,149.0,10,134.1
214,52566,2014-01-31,Germany,2165,GER1,Female,10.5,41,8.5,179.0,20,143.2
...,...,...,...,...,...,...,...,...,...,...,...,...
14922,65733,2016-12-28,Germany,2242,GER1,Female,7.0,37-38,5.0,189.0,30,132.3
14931,65742,2016-12-29,Germany,2188,GER1,Female,9.5,40,7.5,189.0,0,189.0
14957,65768,2016-12-31,Germany,2205,GER1,Female,7.5,38,5.5,159.0,0,159.0
14965,65776,2016-12-31,Germany,2231,GER1,Female,9.5,40,7.5,199.0,0,199.0
14966,65777,2016-12-31,Germany,2156,GER1,Female,6.5,37,4.5,139.0,10,125.1

In [26]:
pivot_table_1 = women_shoes_sales_1.pivot_table(index='Size (US)', columns= women_shoes_sales_1['Date'].dt.month, aggfunc='size', fill_value=0)

In [27]:
pivot_table_2 = women_shoes_sales_2.pivot_table(index='Size (US)', columns= women_shoes_sales_2['Date'].dt.month, aggfunc='size', fill_value=0)

In [28]:
pivot_table_1

Date       1   2   3   4   5   6   7   8   9   10  11  12
Size (US)
4.5         0   0   0   0   1   3   0   0   0   1   1   0
5.0         1   0   0   0   0   0   2   2   0   0   0   1
5.5         0   0   0   0   0   0   0   1   0   0   2   0
6.0         0   3   0   0   0   0   0   0   0   0   0   0
6.5         5   3   2   2   2   0   3   1   4   5   6   6
7.0         0   3   8   7   2   6   4   1   7   2   0   2
7.5         4   2   4   2   2   9   9   9   9  13   6   6
8.0        10  13   8  12   7   4  15   9   6  28  15  20
8.5        14  14  13  12  18  12   9  13   6  12  15  15
9.0         5   7  14  10   9   2   8  12   6  11   7  11
9.5         6   4   6   3   3   4   7   7   7   7   7   5
10.0        2   2   2   2   1   3   6   5   8   2   1   2
10.5        3   0   2   0   3   3   7   5   1   3   1   2
11.0        1   0   0   1   0   0   0   0   0   0   0   1
11.5        0   1   0   2   0   0   0   0   0   0   0   0
12.0        0   0   0   0   0   0   0   1   0   1   1   0

In [29]:
pivot_table_2

Date       1   2   3   4   5   6   7   8   9   10  11  12
Size (US)
4.5         0   0   0   0   0   2   0   0   0   1   0   0
5.0         0   0   0   0   1   0   0   2   0   0   0   0
5.5         0   0   0   0   0   0   0   1   0   3   0   2
6.0         0   1   4   1   2   0   0   0   0   0   0   1
6.5         3   0   2   1   4   2   1   1   7   6   6   3
7.0         4   6   6  11  11   9   6  10   5   9   4   9
7.5         5   5   7   3   5   9  14  11  18  15  13   6
8.0        17  10  10  17   9  10  19  14   8  21  13  11
8.5        11   9  13   5  11  13  12   9   5  12  18  14
9.0         9   9  10  14  13   8   5  15  17   6   8   3
9.5         2   2   2   1   2   2   6   4   9   4  12   2
10.0        2   2   2   0   2   3   3   7   1   5   0   3
10.5        0   5   0   0   3   5   0   5   1   1   3   1
11.0        1   0   0   1   2   0   0   1   0   0   0   1
11.5        0   0   5   0   1   0   1   2   0   0   0   0
12.0        0   0   0   0   1   0   2   1   0   1   1   0

In [30]:
measures_pivot_1 = pd.DataFrame()

In [31]:
measures_pivot_1['Mean'] = [round((np.sum(pivot_table_1.iloc[i,:])/len(pivot_table_1)),2) for i in range(len(pivot_table_1))]

In [32]:
measures_pivot_1['Variance'] = [round((np.sum((pivot_table_1.iloc[i, :] - measures_pivot_1['Mean'][i])**2)/11),2) for i in range(len(pivot_table_1))]

In [33]:
measures_pivot_1['std'] = [round((pow((x),1/2)),2) for x in measures_pivot_1['Variance']]

In [34]:
measures_pivot_1['Standard error'] = [round((x/pow((len(pivot_table_1)),1/2)),2) for x in measures_pivot_1['std']]

In [35]:
measures_pivot_1['Margin of error'] = [round((x * z_statistic(95, df_z_table)),2) for x in measures_pivot_1['Standard error']]

In [36]:
measures_pivot_1['95% Confidence level lower'] = [measures_pivot_1['Mean'][i] - measures_pivot_1['Margin of error'][i] for i in range(len(pivot_table_1))]
measures_pivot_1['95% Confidence level upper'] = [measures_pivot_1['Mean'][i] + measures_pivot_1['Margin of error'][i] for i in range(len(pivot_table_1))]

In [37]:
measures_pivot_1.insert(loc=0, column = 'Size (US)', value = np.sort(women_shoes_sales_1['Size (US)'].unique()))

In [38]:
measures_pivot_1

,Size (US),Mean,Variance,std,Standard error,Margin of error,95% Confidence level lower,95% Confidence level upper
0,4.5,0.38,0.83,0.91,0.23,0.45,-0.07,0.83
1,5.0,0.38,0.65,0.81,0.20,0.39,-0.01,0.77
2,5.5,0.19,0.39,0.62,0.15,0.29,-0.10,0.48
3,6.0,0.19,0.75,0.87,0.22,0.43,-0.24,0.62
4,6.5,2.44,4.56,2.14,0.54,1.05,1.39,3.49
5,7.0,2.62,8.94,2.99,0.75,1.46,1.16,4.08
6,7.5,4.69,15.40,3.92,0.98,1.91,2.78,6.60
7,8.0,9.19,54.96,7.41,1.85,3.61,5.58,12.80
8,8.5,9.56,20.40,4.52,1.13,2.20,7.36,11.76
9,9.0,6.38,16.08,4.01,1.00,1.95,4.43,8.33
10,9.5,4.12,4.71,2.17,0.54,1.05,3.07,5.17
11,10.0,2.25,5.34,2.31,0.58,1.13,1.12,3.38
12,10.5,1.88,4.51,2.12,0.53,1.03,0.85,2.91
13,11.0,0.19,0.21,0.46,0.12,0.23,-0.04,0.42
14,11.5,0.19,0.39,0.62,0.15,0.29,-0.10,0.48
15,12.0,0.19,0.21,0.46,0.12,0.23,-0.04,0.42

In [39]:
measures_pivot_2 = pd.DataFrame()

In [40]:
measures_pivot_2['Mean (GER1)'] = measures_pivot_1['Mean']

In [41]:
measures_pivot_2['Mean (GER2)'] = [round((np.sum(pivot_table_2.iloc[i,:])/len(pivot_table_2)),2) for i in range(len(pivot_table_2))]

In [42]:
measures_pivot_2['Variance (GER1)'] = measures_pivot_1['Variance']

In [43]:
measures_pivot_2['Variance (GER2)'] = [round((np.sum((pivot_table_2.iloc[i, :] - measures_pivot_2['Mean (GER2)'][i])**2)/11),2) for i in range(len(pivot_table_2))]

In [44]:
measures_pivot_2['std (GER1)'] = measures_pivot_1['std']

In [45]:
measures_pivot_2['std (GER2)'] = [round((pow((x),1/2)),2) for x in measures_pivot_2['Variance (GER2)']]

In [46]:
measures_pivot_2['Standard error (GER1)'] = measures_pivot_1['Standard error']

In [47]:
measures_pivot_2['Standard error (GER2)'] = [round((x/pow((len(pivot_table_2)),1/2)),2) for x in measures_pivot_2['std (GER2)']]

In [48]:
measures_pivot_2['Margin of error (GER1)'] = measures_pivot_1['Margin of error']

In [49]:
measures_pivot_2['Margin of error (GER2)'] = [round((x * z_statistic(95, df_z_table)),2) for x in measures_pivot_2['Standard error (GER2)']]

In [50]:
measures_pivot_2['95% Confidence level lower'] = [measures_pivot_2['Mean (GER2)'][i] - measures_pivot_2['Margin of error (GER2)'][i] for i in range(len(pivot_table_2))]
measures_pivot_2['95% Confidence level upper'] = [measures_pivot_2['Mean (GER2)'][i] + measures_pivot_2['Margin of error (GER2)'][i] for i in range(len(pivot_table_2))]

In [51]:
measures_pivot_2['Size (US)'] = np.sort(women_shoes_sales_2['Size (US)'].unique())

In [52]:
measures_pivot_2

,Mean (GER1),Mean (GER2),Variance (GER1),Variance (GER2),std (GER1),std (GER2),Standard error (GER1),Standard error (GER2),Margin of error (GER1),Margin of error (GER2),95% Confidence level lower,95% Confidence level upper,Size (US)
0,0.38,0.19,0.83,0.39,0.91,0.62,0.23,0.15,0.45,0.29,-0.10,0.48,4.5
1,0.38,0.19,0.65,0.39,0.81,0.62,0.20,0.15,0.39,0.29,-0.10,0.48,5.0
2,0.19,0.38,0.39,1.02,0.62,1.01,0.15,0.25,0.29,0.49,-0.11,0.87,5.5
3,0.19,0.56,0.75,1.52,0.87,1.23,0.22,0.31,0.43,0.60,-0.04,1.16,6.0
4,2.44,2.25,4.56,5.89,2.14,2.43,0.54,0.61,1.05,1.19,1.06,3.44,6.5
5,2.62,5.62,8.94,10.67,2.99,3.27,0.75,0.82,1.46,1.60,4.02,7.22,7.0
6,4.69,6.94,15.40,29.30,3.92,5.41,0.98,1.35,1.91,2.63,4.31,9.57,7.5
7,9.19,9.94,54.96,30.52,7.41,5.52,1.85,1.38,3.61,2.69,7.25,12.63,8.0
8,9.56,8.25,20.40,21.70,4.52,4.66,1.13,1.17,2.20,2.28,5.97,10.53,8.5
9,6.38,7.31,16.08,24.52,4.01,4.95,1.00,1.24,1.95,2.42,4.89,9.73,9.0
10,4.12,3.00,4.71,12.55,2.17,3.54,0.54,0.89,1.05,1.74,1.26,4.74,9.5
11,2.25,1.88,5.34,4.33,2.31,2.08,0.58,0.52,1.13,1.01,0.87,2.89,10.0
12,1.88,1.50,4.51,4.64,2.12,2.15,0.53,0.54,1.03,1.05,0.45,2.55,10.5
13,0.19,0.38,0.21,0.47,0.46,0.69,0.12,0.17,0.23,0.33,0.05,0.71,11.0
14,0.19,0.56,0.39,2.24,0.62,1.50,0.15,0.38,0.29,0.74,-0.18,1.30,11.5
15,0.19,0.38,0.21,0.47,0.46,0.69,0.12,0.17,0.23,0.33,0.05,0.71,12.0